workspace/nb-workspace/Untitled.ipynb
.vscode/settings.json
document/db/이것이 MySQL이다_Ch01.pdf
document/db/이것이 MySQL이다_Ch02.pdf
document/db/이것이 MySQL이다_Ch06.pdf
document/db/이것이 MySQL이다_Ch07.pdf
document/db/IntroductionToDBMS.pdf
workspace/nb-workspace/Untitled1.ipynb
workspace/nb-workspace/Untitled2.ipynb
workspace/nb-workspace/.ipynb_checkpoints/hello-python-checkpoint.ipynb
workspace/nb-workspace/.ipynb_checkpoints/Untitled-checkpoint.ipynb
workspace/nb-workspace/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
workspace/nb-workspace/.ipynb_checkpoints/Untitled2-checkpoint.ipynb
workspace/code-workspace/.vscode/settings.json
workspace/code-workspace/python-basic/contacts.dat
workspace/code-workspace/python-basic/data.dat
workspace/code-workspace/python-basic/data2.dat
workspace/code-workspace/python-basic/file-test.txt
workspace/code-workspace/python-basic/keywords.csv
workspace/code-workspace/python-basic/numbers.txt
workspace/code-workspace/python-basic/test.txt
workspace/code-workspace/python-basic/__pycache__/baseball_game.cpython-37.pyc
workspace/code-workspace/python-basic/__pycache__/my_module.cpython-37.pyc
workspace/code-workspace/python-basic/game/__pycache__/__init__.cpython-37.pyc
workspace/code-workspace/python-basic/game/sound/__pycache__/__init__.cpython-37.pyc
workspace/code-workspace/python-basic/game/sound/__pycache__/echo.cpython-37.pyc
workspace/code-workspace/python-basic/game/sound/__pycache__/wav.cpython-37.pyc
workspace/code-workspace/exampleweb2/polls/migrations/__pycache__/__init__.cpython-37.pyc
workspace/code-workspace/exampleweb2/polls/migrations/__pycache__/0001_initial.cpython-37.pyc
workspace/code-workspace/exampleweb1/exampleweb/__pycache__/__init__.cpython-37.pyc
workspace/code-workspace/exampleweb1/exampleweb/__pycache__/settings.cpython-37.pyc
workspace/code-workspace/exampleweb1/exampleweb/__pycache__/urls.cpython-37.pyc
workspace/code-workspace/exampleweb1/exampleweb/__pycache__/wsgi.cpython-37.pyc
workspace/code-workspace/exampleweb1/polls/__pycache__/__init__.cpython-37.pyc
workspace/code-workspace/exampleweb1/polls/__pycache__/admin.cpython-37.pyc
workspace/code-workspace/exampleweb1/polls/__pycache__/apps.cpython-37.pyc
workspace/code-workspace/exampleweb1/polls/__pycache__/models.cpython-37.pyc
workspace/code-workspace/exampleweb1/polls/__pycache__/repository.cpython-37.pyc
workspace/code-workspace/exampleweb1/polls/__pycache__/urls.cpython-37.pyc
workspace/code-workspace/exampleweb1/polls/__pycache__/views.cpython-37.pyc
workspace/code-workspace/demoweb1/demoweb/__pycache__/__init__.cpython-37.pyc
workspace/code-workspace/demoweb1/demoweb/__pycache__/settings.cpython-37.pyc
workspace/code-workspace/demoweb1/demoweb/__pycache__/urls.cpython-37.pyc
workspace/code-workspace/demoweb1/demoweb/__pycache__/views.cpython-37.pyc
workspace/code-workspace/demoweb1/demoweb/__pycache__/wsgi.cpython-37.pyc
workspace/code-workspace/exampleweb2/exampleweb/__pycache__/__init__.cpython-37.pyc
workspace/code-workspace/exampleweb2/exampleweb/__pycache__/settings.cpython-37.pyc
workspace/code-workspace/exampleweb2/exampleweb/__pycache__/urls.cpython-37.pyc
workspace/code-workspace/exampleweb2/exampleweb/__pycache__/views.cpython-37.pyc
workspace/code-workspace/exampleweb2/exampleweb/__pycache__/wsgi.cpython-37.pyc
workspace/code-workspace/exampleweb1/polls/migrations/__pycache__/__init__.cpython-37.pyc
workspace/code-workspace/exampleweb2/polls/__pycache__/__init__.cpython-37.pyc
workspace/code-workspace/exampleweb2/polls/__pycache__/admin.cpython-37.pyc
workspace/code-workspace/exampleweb2/polls/__pycache__/apps.cpython-37.pyc
workspace/code-workspace/exampleweb2/polls/__pycache__/models.cpython-37.pyc
workspace/code-workspace/exampleweb2/polls/__pycache__/repository.cpython-37.pyc
workspace/code-workspace/exampleweb2/polls/__pycache__/urls.cpython-37.pyc
workspace/code-workspace/exampleweb2/polls/__pycache__/views.cpython-37.pyc
workspace/code-workspace/demoweb1/bookmark/__pycache__/__init__.cpython-37.pyc
workspace/code-workspace/demoweb1/bookmark/__pycache__/admin.cpython-37.pyc
workspace/code-workspace/demoweb1/bookmark/__pycache__/apps.cpython-37.pyc
workspace/code-workspace/demoweb1/bookmark/__pycache__/models.cpython-37.pyc
workspace/code-workspace/demoweb1/bookmark/migrations/__pycache__/__init__.cpython-37.pyc
workspace/code-workspace/demoweb1/bookmark/migrations/__pycache__/0001_initial.cpython-37.pyc
workspace/code-workspace/demoweb1/bookmark/__pycache__/urls.cpython-37.pyc
workspace/code-workspace/demoweb1/bookmark/__pycache__/views.cpython-37.pyc
