<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}Example Web Home{% endblock %}</title>
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="/">Project Home</a></li>
                <li><a href="/admin/">Admin</a></li>
            </ul>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}            
        </div>
    </body>
</html>