{% extends 'base.html' %}

{% block page_title %}
    <title>Demo Home</title>
{% endblock page_title %}

{% block main_content %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card border border-secondary">
                                    
                                    <div class="card-body">
                                        <form class="form-header" action="." method="POST">
                                            <input class="au-input" type="text" id="region" placeholder="시/도를 입력하세요" />
                                            <button class="au-btn--submit" type="button" id="btn_search">
                                                <i class="zmdi zmdi-search"></i>
                                            </button>
                                        </form>
                                        <br>
                                        <div class="table-responsive m-b-30">
                                            <table id="apt_table" class="table table-borderless table-striped table-earning">
                                                <thead>
                                                    <tr>
                                                        <th>주소</th>
                                                        <th>아파트이름</th>
														<th>최고가격</th>
														<th>최저가격</th>
                                                        <th>평균가격</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        {% include 'copyright.html' %}
{% endblock main_content %}

{% block modals %}

{% endblock modals %}

{% block custom_js %}
<script type="text/javascript">
$(function() {
    $('#btn_search').on('click', function(event) {

        var region = $('#region').val();
        if (!region) {
            return;
        }

        $('#apt_table tbody').empty();

        $.ajax({
            "url": "/stocks/apt/" + region,
            "method": "GET",
            "dataType": "json",
            "success": function(data, status, xhr) {
                //alert(data['min'][0] + " / " + data['min'][9]);
                var tr = $('<tr></tr>');
                $('<td></td>').text(data['min'][0]).appendTo(tr); // 주소
                $('<td></td>').text(data['min'][4]).appendTo(tr); // 아파트이름
                $('<td></td>').text('-').appendTo(tr); // 최고가격
                $('<td></td>').text(data['min'][9]).appendTo(tr); // 최저가격
                $('<td></td>').text(data['mean']).appendTo(tr); // 평균가격
                $('#apt_table tbody').append(tr)

                var tr = $('<tr></tr>');
                $('<td></td>').text(data['max'][0]).appendTo(tr); // 주소
                $('<td></td>').text(data['max'][4]).appendTo(tr); // 아파트이름
                $('<td></td>').text(data['max'][9]).appendTo(tr); // 최고가격
                $('<td></td>').text('-').appendTo(tr); // 최저가격
                $('<td></td>').text(data['mean']).appendTo(tr); // 평균가격
                $('#apt_table tbody').append(tr)
            },
            "error": function(xhr, status, err) {
                alert(err);
            }
        });
    });
});
</script>
{% endblock custom_js %}