{% extends 'base.html' %}

{% block page_title %}
<titlt>Stocks Home</titlt>
{% endblock page_title %}

{% block main_content %}

                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h3 id='kospi'></h3>
                                                <span>KOSPI</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="kospi-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h3 id="kosdaq"></h3>
                                                <span>KOSDAQ</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="kosdaq-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h3 id="dowjones"></h3>
                                                <span>DOWJONES</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="dowjones-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h3 id="nasdaq"></h3>
                                                <span>NASDAQ</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="nasdaq-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

{% endblock main_content %}